.card {
    min-height: 664px;
    border-radius: 40px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__wrapper {
    height: 100%;
    padding: 0 29px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.card__wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card__title {
    font-family: "Press Start 2P", "Arial", sans-serif;
    color: #000000;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
}

.card__title-accent {
    text-transform: uppercase;
    color: #AFA3FF;
}

.card__description {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6)
}


.card__skill-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.004em;
    margin: 0;
    padding: 0;
}

.card__skill-item {
    display: flex;
    gap: 8px;
    font-size: 14px;
    line-height: 20px;
}

.card__skill-count {
    padding: 2px 8px;
    background: #AFA3FF;
    border-radius: 12px;
    color: #000000;
}

.card__link-btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    padding: 16px 69px;
    border-radius: 28px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: block;
}

.card--active {
    background: #121C25;
    color: #FFFFFF;
}

.card--active .card__title,
.card--active .card__skill-list {
    color: #FFFFFF;
}

.card--active .card__description {
    color: rgba(255, 255, 255, 0.6);
}

/* .card--green & .card--active .card__link-btn {
    background: #87F29A;
} */

.card:active .card__link-btn {
    border: 1px solid rgba(0, 0, 0, 0.4)
}

.card__link-btn:hover, .card__link-btn:focus {
    border: 1px solid #000000
}

.card--green .card__title-accent {
    color: #87F29A;
}

.card--green .card__skill-count {
    background: #87F29A;
}

.card--orange .card__title-accent {
    color: #FE8900;
}

.card--orange .card__skill-count {
    background: #FE8900;
}

.card:active {
    background: #121C25;
}

.card:active .card__title, .card:active .card__skill-list{
    color: #FFFFFF;
}

.card:active .card__description {
    color: rgba(255, 255, 255, 0.6);
}

.card:active .card__link-btn {
    border: 1px solid rgba(0, 0, 0, 0.4)
}

.card--blue:active .card__link-btn {
    background: #AFA3FF;
}

.card--green:active .card__link-btn,
.card--active .card__link-btn {
    background: #87F29A;
}

.card--orange:active .card__link-btn {
    background: #FFC61F;
}