.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 18px;
}

.custom-checkbox__field:checked+.custom-checkbox__label::before {
    background: #87F29A;
}

.custom-checkbox__field:checked+.custom-checkbox__label .custom-checkbox-icon{
    display: block;
}

.custom-checkbox__field:checked+.custom-checkbox__label{
    color: #87F29A;
}

.custom-checkbox__label {
    user-select: none;
    font-size: 22px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding: 0 0 0 48px ;
    cursor: pointer;
}

.custom-checkbox__label::before {
    content: "";
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
}

.custom-checkbox-icon{
    position: absolute;
    top: 9px;    
    left: 9px;
    display: none;
}

.custom-checkbox__field:hover+.custom-checkbox__label {
    color: #87F29A;
}