.images {
    overflow: hidden;
    position: relative;

    &__img {
        width: 100vw;
    }

    &__plus{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: $color-hint-of-red;        
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

        &__plus-1 {
            position: absolute;
            top: 105px;
            left: 57.5%;
        }

        &__plus-2 {
            position: absolute;
            top: 620px;
            left: 17.5%;
        }

        &__plus-3 {
          position: absolute;
          top: 600px;
          left: 50%;
        }

        &__plus-4 {
          position: absolute;
          top: 568px;
          left: 69%;
        }
}