.header {
    background: linear-gradient(180deg, #6E48DB 0%, #9E5FC4 100%);
}

.header__top {
    display: grid;
    grid-template-columns: 1fr 140px 1fr;
    padding: 15px 0 10px 0;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2)
}

.header__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;    
}

.header__nav-link {
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    color: #ffffff;
}

.header__menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
    justify-content: end;
}

.header__menu-item {
    display: flex;
    gap: 30px;
    align-items: center;    
}

.header__menu-link {
    display: flex;
    gap: 10px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
    /* letter-spacing: -0.002em; */
    color: #ffffff;
}

.header__menu-btn {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}