.not-found {

  &__wrap {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 117px;
    gap: 40px;
    background-image: url("../../images/bg-404png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 430px 430px;

    @include vp-767 {
      height: 584px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/bg-404@2x.png");
    }

    @include vp-1023 {
      background-image: url("../../images/bg-404-tablet.png");
      background-size: 330px 330px;
      padding-top: 129px;
    }

    @media (min-resolution: 2dppx) and (max-width: 1023px) {
      background-image: url("../../images/bg-404-tablet@2x.png");
    }

    @include vp-767 {
      background-image: url("../../images/bg-404-mobile.png");
      background-position: bottom center;
      background-size: 290px 290px;
      padding-top: 85px;
      gap: 20px;
    }

    @media (min-resolution: 2dppx) and (max-width: 767px) {
      background-image: url("../../images/bg-404-mobile@2x.png");
    }
  }

  &__wrap-text {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include vp-767 {
      gap: 7px;
    }
  }

  &__404 {

    @include vp-1023 {
      width: 213px;
      height: 100px;
    }

    @include vp-767 {
      width: 142px;
      height: 70px;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: $color-deep-lilac;
    margin: 0;
    padding: 0;

    @include vp-1023 {
      font-size: 32px;
      line-height: 36px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    color: $color-nero;
    margin: 0;
    padding: 0;
    text-align: center;

    @include vp-767 {
      font-size: 13px;
      line-height: 16px;
    }
  }
}